<div class="top-menu-master">
<div class="top-menu">

<div id="menu-container">
    <div topmenu id="arrowL" class="glyphicon glyphicon-chevron-left">
    </div>
    <div topmenu id="arrowR" class="glyphicon glyphicon-chevron-right">
    </div>
    <div class="top-menu-wrapper">
    <div id="list-container">
        <div class='list'>

          <a href="#/js-page"> <div class="item">
             <div class="itemImage" id='item-js'></div>
            </div></a>
             <a href="#/php-page"><div class="item">
                <div class="itemImage" id='item-php'></div>
            </div></a>
             <a href="#/python-page"><div class="item">
                <div class="itemImage" id='item-python'></div>
            </div></a>
             <a href="#/css-page"><div class="item">
               <div class="itemImage"  id='item-css'></div>
            </div></a>
            </div>
        </div>
      </div>
    </div>
</div>

</div>
</div>
</div>
